body {
  font-family: Arial, sans-serif;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

header nav ul li .active {
  font-weight: bold;
}

main {
  text-align: center;
}

h1 {
  font-size: 2em;
  padding-bottom: 5px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Color Definitions */
#card1 {
  background-color: #ADD8E6;
}

#card2 {
  background-color: #F5DEB3;
}

#card3 {
  background-color: #FFB6C1;
}

/* Dotted underline for the title */
h1::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-top: 5px;
  border-bottom: 5px dotted black;
}

.survey-container {
    background-color: #ADD8E6;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px #DBDBDB;
  }
  .survey-item {
    background-color: #FDFDFD;
    margin-bottom: 20px; /* Increase spacing between questions */
    padding: 15px; /* Increase padding */
    border: 1px solid #F2F1F1;
    border-radius: 5px;
  }
  .survey-item input[type="radio"] {
    display: none; /* Hide the default radio button */
  }
  .survey-item label {
    display: flex; /* Each label on its own line */
    margin-bottom: 10px; /* Increase spacing between options */
    font-size: 16px; /* Increase font size */
    color: #000;
    padding: 8px;
    border: 1px solid transparent; /* Prepare for selection border */
    border-radius: 5px;
    border-bottom: 5px solid #DBDBDB;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for color change */
  }
  .survey-item input[type="radio"]:checked + label {
    background-color: #FFC3D7; /* Background color for selected answer */
    border-bottom-color: #e1f073; /* Border color for selected answer */
    border-right-color: #e1f073;
  }
  .survey-question {
    font-weight: bold;
    margin-bottom: 15px; /* Increase spacing after question */
    text-align: justify;
    font-size: 18px; /* Larger font size for questions */
  }

  .option-letter {
    font-weight: bold;
    margin-right: 30px;
    width: 20px;
  }
